.WorkEditor .editor_wrapper {
    width: 100%;
    display: flex;
    gap: 10px;
}

.WorkEditor input {
    flex : 1;
    box-sizing: border-box;
    border:1px solid rgb(220,220,220);
    border-radius: 5px;
    padding: 15px;
}

.WorkEditor input:focus {
    outline: none;
    border:1px solid rgb(42,80,52);
}

.WorkEditor button {
    cursor: pointer;
    width: 80px;
    border: none;
    background-color: rgb(42,80,52);
    color: white;
    border-radius: 5px;
}


